.components {
    display: grid;
    gap: 50px;
    > div {
        padding-bottom: 7vh;
    }
    > div:nth-child(2) {
        background-image: url("../images/Ellipse 13.svg") no-repeat;
        background-repeat: no-repeat;
        background-size: 25%;
        background-position-x: right;
        background-position-y: bottom;
    }
}